
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*,
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 
cyan

cyan-300:#67e8f9,
cyan-400:#22d3ee,
cyan-500:#06b6d4,
cyan-600:#0891b2

*/
/* 
indigo
indigo-300:#a5b4fc,
indigo-400:#818cf8,
indigo-500:#6366f1,
indigo-600:#7c3aed
*/